<!-- Validation failure messages -->
<% if @action_step.errors.any? %>
  <% @action_step.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Action Step #<%= @action_step.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_action_step/<%= @action_step.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @action_step.state %>">
      </div>

      <!-- Label and input for target_date -->
      <div class="form-group">
        <label for="target_date" class="control-label">
          Target date
        </label>

        <input type="text" id="target_date" name="target_date" placeholder="Target date" class="form-control" value="<%= @action_step.target_date %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @action_step.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for resources -->
      <div class="form-group">
        <label for="resources" class="control-label">
          Resources
        </label>

        <input type="text" id="resources" name="resources" placeholder="Resources" class="form-control" value="<%= @action_step.resources %>">
      </div>

      <!-- Label and input for success_measurements -->
      <div class="form-group">
        <label for="success_measurements" class="control-label">
          Success measurements
        </label>

        <input type="text" id="success_measurements" name="success_measurements" placeholder="Success measurements" class="form-control" value="<%= @action_step.success_measurements %>">
      </div>

      <!-- Label and input for goal_id -->
      <div class="form-group">
        <label for="goal_id" class="control-label">
          Goal
        </label>

        <input type="text" id="goal_id" name="goal_id" placeholder="Goal" class="form-control" value="<%= @action_step.goal_id %>">
      </div>

      <button class="btn btn-warning">
        Update Action Step
      </button>
      or
      <a href="/action_steps/<%= @action_step.id %>">Cancel</a>
    </form>
  </div>
</div>
