<div class="page-header">
  <h3>Action Step #<%= @action_step.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>State</dt>
      <dd><%= @action_step.state %></dd>

      <dt>Target date</dt>
      <dd><%= @action_step.target_date %></dd>

      <dt>User</dt>
      <dd>
        <% if @action_step.point_man.present? %>
          <a href="/users/<%= @action_step.user_id %>">
            <%= @action_step.point_man.email %>
          </a>
        <% end %>
      </dd>

      <dt>Resources</dt>
      <dd><%= @action_step.resources %></dd>

      <dt>Success measurements</dt>
      <dd><%= @action_step.success_measurements %></dd>

      <dt>Goal</dt>
      <dd>
        <% if @action_step.goal.present? %>
          <a href="/goals/<%= @action_step.goal_id %>">
            <%= @action_step.goal.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/action_steps" class="btn btn-primary">
        Back
      </a>
      <a href="/action_steps/<%= @action_step.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_action_step/<%= @action_step.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Action step has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @action_step.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for action_step_id -->
      <div class="form-group">
        <label for="action_step_id" class="control-label">
          Action step
        </label>

        <%= select_tag(:action_step_id, options_from_collection_for_select(ActionStep.all, :id, :state), :class => "form-control") %>
      </div>

      <!-- Label and input for improvement_plan_id -->
      <div class="form-group">
        <label for="improvement_plan_id" class="control-label">
          Improvement plan
        </label>

        <%= select_tag(:improvement_plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :summary), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
