<div class="page-header">
  <h3>Comment #<%= @comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @comment.writer.present? %>
          <a href="/users/<%= @comment.user_id %>">
            <%= @comment.writer.email %>
          </a>
        <% end %>
      </dd>

      <dt>Action step</dt>
      <dd>
        <% if @comment.action_step.present? %>
          <a href="/action_steps/<%= @comment.action_step_id %>">
            <%= @comment.action_step.state %>
          </a>
        <% end %>
      </dd>

      <dt>Improvement plan</dt>
      <dd>
        <% if @comment.improvement_plan.present? %>
          <a href="/improvement_plans/<%= @comment.improvement_plan_id %>">
            <%= @comment.improvement_plan.summary %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/comments" class="btn btn-primary">
        Back
      </a>
      <a href="/comments/<%= @comment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_comment/<%= @comment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
